{% extends "pages/base.html" %}
{% block title %}Collect{% endblock %}
{% block content %}
    {% if Collects %}
        <div class="ip-list-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Collect</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for collect in Collects %}
                        <tr data-toggle="collapse" data-target="#{{ip.ip}}" class="accordion-toggle">
                            <td><a href="/collect/{{collect.pk}}/update">{{collect.name}}</a></td>
                            <td>
                                {{collect.description}}                                   
                            </td>   
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <a href="/collect/new" class="btn btn-success " role="button">New collect</a>
    
    <style type="text/css">
        .list-scroll{
            max-height: 450px;
            overflow:scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>
{% endblock %}