{% extends "pages/base.html" %}
{% block title %}Port Scan{% endblock %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
            <b>Group Ip</b>
            <b>Update</b>
            <b>Delete</b>
        </li>
        <div class="list-scroll">
            {% if Schedules %}
                {% for schedule in Schedules %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/schedule/{{schedule.pk}}/update">{{schedule.schedule}}</a></span>
                    </li>
                {% endfor %}
            {% else %}
                <a href="/schedule/new" class="btn btn-success " role="button">New Configure</a>
            {% endif %}
        </div>
    </ul>
    <hr>
    
{% endblock %}