{% extends "pages/base.html" %}
{% block title %}Collect{% endblock %}
{% block content %}
    {% comment %} <div class="row">
        <div class ="col-sm-9">
            <h4>{{collect.name}}</h4>
            <p>{{collect.description}}</p>
        </div>
        <div class ="col-sm-1">
            <a href="/collect/{{collect.pk}}/update">Scan</a>
        </div>
        <div class ="col-sm-1">
            <a href="/collect/{{collect.pk}}/update">Update</a>
        </div>
        <div class ="col-sm-1">
            <a href="/collect/{{collect.pk}}/delete">Delete</a>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ip-tab" data-toggle="tab" href="#ip" role="tab" aria-controls="ip" aria-selected="true">Ip</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="port-tab" data-toggle="tab" href="#port" role="tab" aria-controls="port" aria-selected="false">Port</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade show active" id="ip" role="tabpanel" aria-labelledby="ip-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ip</th>
                        <th scope="col">Port</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip in collect.ip_set.all %}
                        <tr data-toggle="collapse" data-target="#{{ip.ip}}" class="accordion-toggle">
                            <td>{{ip.ip}}</td>
                            <td>
                                {% for portstate in ip.portstate_set.all %}
                                    {{portstate.port.port}},
                                {% endfor %}  
                                <a class="btn">More...>>></a>
                                <div class="accordian-body collapse" id="{{ip.ip}}"> 
                                    More detail
                                </div>                                       
                            </td>   
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="port" role="tabpanel" aria-labelledby="port-tab">
            <div class="row">
                <div class ="col-sm-2">
                    <b>Port list:</b>
                </div>
                <div class ="col-sm-10">
                    {% for collectport in collect.collectport_set.all%}
                        <button type="button" class="btn btn-info">
                            {{collectport.port}}
                            <span class="badge badge-light">
                                <form method="POST" action="/port/{{port.pk}}/delete" id="port-delete-{{port.pk}}">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('port-delete-{{port.pk}}').submit()">x</a>
                                </form>
                            </span>
                        </button>
                    {% endfor%}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div> {% endcomment %}
    {{ip.ip}}
    <script>
        $(function () {
            $('#myList a:first-child').tab('show')
        })
    </script>
    <style type="text/css">
        .list-scroll{
            max-height: 450px;
            overflow:scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>
{% endblock %}