{% extends "pages/base.html" %}
{% block title %}Port Scan{% endblock %}
{% block content %}
    <h4> Configure </h4>
    <div class="row">
        <div class="col-sm-2">
            {% if Configures %}
                {% for configure in Configures %}
                    <a href="/configure/{{configure.pk}}/update">{{configure.scantime}} day</a></span>
                {% endfor %}
            {% else %}
                <a href="/configure/new" class="btn btn-success " role="button">New Configure</a>
            {% endif %}
        </div>
    </div>
{% endblock %}